[2017-08-30 15:23] skybristol opened #4 "Work up code for generating GAP species range items"
We've decided that each species range should be individually referenceable with a URI and citable with a DOI just like the habitat maps/models. Someone needs to work over Daniel's code for building the items and minting DOIs to run that for the [range collection](https://www.sciencebase.gov/catalog/item/5951527de4b062508e3b1e79). Alternatively, we could simply use the 1719 items in the [habitat di

[2017-08-30 15:26] skybristol opened #5 "Work out API end points to include in species range items"
The range items (once created) will need to get links to appropriate service end points from the GC2 instance where we are serving the data. Previous iterations of the ranges online provided a downloadable DBF containing the basic attributes for each species. We can provide something similar as well as actual geospatial services from the GC2 MapServer instance. Some of these may be included as web

[2017-08-30 15:28] skybristol opened #6 "Get habitat distribution map services online"
We are putting the GeoTIFFs generated for the habitat maps online via Geoserver (ScienceBase's out of the box instance, I think). This work needs to be completed and tested so that we have the service end points that we want to add to the [ScienceBase Items](https://www.sciencebase.gov/catalog/item/527d0a83e4b0850ea0518326).

[2017-08-30 15:29] skybristol opened #7 "Put OGC service end points into ScienceBase Items for habitat maps"
Once we have the services online via ScienceBase Geoserver for the habitat maps, we need to go back into the individual items and add the links. We should probably use the OGC service extension for this purpose, but we need to make sure those links show up as distributionLinks in ISO metadata.

[2017-08-30 15:36] skybristol opened #8 "Put original GeoTIFFs onboard the habitat map items in ScienceBase"
The original GeoTIFF files for each species model that essentially source the data for distribution via Geoserver and potentially other platforms/derivatives need to be placed online in a reliable repository. It seems like the [ScienceBase Items](https://www.sciencebase.gov/catalog/item/527d0a83e4b0850ea0518326) are the place to stick those files. Ideally, we'll be able to load those files to the

[2017-08-30 15:40] skybristol opened #9 "Write up a notebook that pulls the full GAP Species data package together for review"
With everything sitting in ScienceBase (metadata and data for the habitat distribution maps, species ranges, and additional input data), we should be able to write up a Jupyter Notebook that will pull it all together and facilitate the review process. This will essentially represent a directed query into the Biogeographic Information System for this overall product suite.

[2017-08-30 15:44] skybristol opened #10 "Finish out load of the GAP species range data"
I'm part way through getting all the range data loaded up into the gap schema on our BCB GC2 database. Because the files have so many records, loading them up via file upload through the UI was the only viable way to get the data online. I have a notebook that I'll publish in this repo that checks the resulting data against the files, merges the data into a single table, and cleans up an issue wit

[2017-08-30 15:49] skybristol opened #11 "Build and test view and spatial services that tie the GAP HUC geometry to their range designations"
@dwief-usgs loaded the [GAP HUCs](https://www.sciencebase.gov/catalog/item/56d496eee4b015c306f17a42) into the Spatial Feature Registry. @skybristol loaded the GAP species into the Taxa Information Registry and ran processing to assemble additional attributes. Once the range data tables are all together and solid, we will materialize a view that ties together the geometry with data from the Taxa In

[2017-09-12 19:57] skybristol opened #13 "Settle questions on species range metadata"
I have the following questions on the metadata for species range items that we need to generate in ScienceBase.

- Do we want to use the same contact information for the ranges that we used on the models?
- Is there a meaningful date we can put on the ranges to denote their status as "done" by our group?
- Do you have a purpose statement we want to use for the individual items? The one on the pare

[2017-09-13 16:54] McKerrow commented on #13
Do we want to use the same contact information for the ranges that we used on the models?
I think we do want to keep the same Point of contact (me - as a usgs team member) and Julie for metadata.  This might be the time to change the Publisher to the new convention
USGS - Core Science Analytics, Synthesis, and Library - Gap Analysis Project
Publisher and distributor are standard for all items.

Wh

[2017-09-13 17:54] skybristol commented on #13
Thanks for the response. When we work up the code for this, we'll put in the new organization name for GAP.

On the other issue raised by @McKerrow, it might be good to work out a person or persons who should be credited as "author" on both the ranges and model items for future citation credit. On the habitat distribution map items that Daniel's code generated, we do not have the concept of the "m

[2017-09-14 20:46] SGWilliams commented on #13
- I think the same contact info is good (Alexa).

 - I don't think we need a date to signify "done" as we shouldn't have "un-done" data up there. However, we do have a date for when the range was completed by the editor along with name, references and some comments on how things were done. Some of it needs to be cleaned up much like the hab model info I put into the hab model reports (which also n

[2017-09-17 14:22] skybristol opened #16 "Possible species name spelling issues"
I'm working to finish out an initial version of the Taxa Information Registry process for GAP species that we will talk about in a couple weeks when we hopefully get together in person. I'll be working to document a number of areas where we might improve on the GAP species information as I run through this. I just ran through a new process that checks GAP information against ITIS, using TSNs when

[2017-09-18 16:35] SGWilliams commented on #16
**rDHNSx**:  A distinct species according to Crother (2012). Also recognized by NatureServe. Range proved distinct from the _H. nasicus_ complex from whence it was derived. Valid ITIS matching concept is the subspecies: _Heterodon nasicus gloydi_ TSN 209163.

**aSENEx**:  A direct match on scientific name to a valid ITIS concept: _Taricha sierrae_ TSN 775939. The valid ITIS concept does not have a

[2017-09-18 18:58] skybristol commented on #16
Fantastic! That's exactly the sort of reasoning I'm interested in.

I'll look at a way that we can capture these kinds of notes within the overall Taxa Information Registry architecture. The goal in what I've been doing has not been to force alignment with ITIS or any taxonomic information source, but rather to systematically and periodically identify and document connections and divergences so th

[2017-09-18 19:14] skybristol commented on #16
Also, your point on the Dusty Hog-nosed Snake about NatureServe recognizing the species is a good one for me to consider. I've built a process to pull information into the Taxa Information Registry from the NatureServe API. The identifier the service needs to run is the NatureServe Element Global ID. Currently, I use the scientific name in the open, public query to find the Element Global ID and t

[2017-09-18 23:15] SGWilliams commented on #16
The GAP species list is really a custom list - not entirely identical to either ITIS or NatureServe. If memory serves me, we have more mismatches with NS codes than we do with ITIS (invalids notwithstanding). We also have the NS Element Global ID in our dB. Sounds like I should revisit that key list I provided to you earlier where we had GapSppCode, ComName, SciName, ItisTSN and swap out the NS El

[2017-09-20 12:55] skybristol commented on #16
If you want to provide a text file with NS_Global_ID matched to GAP_SpeciesCode, I'll write something that will add the NS_Global_ID as an additional identifier to the species records in ScienceBase. If you can attach the file right to [this item](https://www.sciencebase.gov/catalog/item/527d0a83e4b0850ea0518326), that would be great. Let me know it's there, and I'll script the process to add the

[2017-09-20 13:57] SGWilliams commented on #16
Sounds like we're on the same page with the list associations concept. I'll
be on vaca for the rest of the week but when I return I'll work on updating
the ScienceBaseCSV file that Nathan initially provided. In addition to
adding NS Global ID, there's been a lot of work rectifying the Model Editor
and Model Reviewer fields.

Steve Williams
Biodiversity and Spatial Information Center
NC Cooperative

[2017-09-20 14:03] skybristol commented on #16
Great! We'll use the opportunity to work up a more thorough update for the contact information as well, then. Thanks, and have some great time away.

[2017-10-02 21:24] LindaSS opened #20 "Create JSON output of Habitat Modelling Report information"
All of the data that creates the habitat modelling report needs to be output as JSON.

[2017-10-03 19:20] skybristol opened #21 "Pull out fundamental algorithm to tag species items (habitat maps and ranges) with geographic areas"
We want the items in the two ScienceBase collections to have state names generated from the data. This information is in the "GAP Analytical Database," but we want to pull the source code and run it to generate information into the ScienceBase items.

[2017-10-03 19:32] skybristol opened #22 "Need a range data output from the backend database attached to the root range item"
Drop the file here:

https://www.sciencebase.gov/catalog/item/5951527de4b062508e3b1e79

[2017-10-03 19:32] skybristol commented on #22
Contact information and citations for the ranges

[2017-10-03 19:43] skybristol opened #23 "Work out spatial data access methods for GAP Species Ranges"
Need a file option: dissolved seasonal range boundaries

Script to generate shapefiles with an example to be provided by @SGWilliams

[2017-10-04 13:51] skybristol commented on #21
This relates to the issue I posted on [setting up the official boundary features in the SFR](https://github.com/usgs-bcb/bcb-dm/issues/55). We can work this with the range data now in GC2 as a way of exercising what should be straightforward uses of those data but that may point out some API-level warts with that system. We can look to the [gaprange](https://github.com/nmtarr/GAPProduction/blob/ma

[2017-10-12 16:42] nmtarr commented on #22
I put together a draft csv file with metadata information on the range data for ScienceBase.  I modeled it after the one for the habitat maps.  I put the [csv file](https://github.com/nmtarr/gap_species/blob/master/DraftRangeSBMetadata.csv) in this repository but I think it's being held up by another pull request.

Let me know what needs to be changed.  Here are some specific things to note.
- We

[2017-10-12 20:51] SGWilliams commented on #23
Here is the python script that exports range data as a dissolved shapefile and provides a full huc12 csv record of original data as well. Also included 3 examples of output.  The script relies on arcpy as well as gappage functions.

[bBOOWx_CONUS_KwnRng_2001v1.zip](https://github.com/usgs-bcb/gap_species/files/1380644/bBOOWx_CONUS_KwnRng_2001v1.zip)
[aRHSAx_CONUS_KwnRng_2001v1.zip](https://github.

[2017-10-12 21:17] SGWilliams commented on #16
Here is the list of vetted NS Global IDs along with ITIS TSNs. We do have a number of invalid TSNs still in the mix and they are intended. In addition, we have some mismatches of concepts that actually point to a valid TSN (i.e. GAP has a subspecies that ITIS never recognized and we're pointing to the valid ITIS species it was derived from). We also have several mismatches for NS Global IDs. We ar

[2017-10-17 14:44] skybristol commented on #22
I think it will be more efficient to generate the range items from the existing habitat map documents since those are now spruced up a bit following their initial creation. I have a script to do that, but we do need to resolve a few specific issues, clean some things up in the habitat map items, and then run the range items:

1) What is the "Global_SEQ_ID" in this new table?
2) We do need to decid

[2017-10-17 15:15] skybristol commented on #16
Okay. It's really a matter of getting the data right for the GAP species items in the habitat maps collection in ScienceBase, and then re-running the whole sequence of Taxa Information Registry processes based on this new information.

It seems like we are going to need to get a little more sophistication in how this information is represented in the ScienceBase Items. We can do that somewhat legi

[2017-10-17 16:07] nmtarr commented on #22
Am I hearing that you don't need a table like the one I created in order to build the range items?  If so, no problem at all.  If you do need a table, what fields exactly do you want?

1. Global_SEQ_ID is one of a few NatureServe codes in our databases.  I'll be honest, I don't know which NatureServe code is of interest here or for the TIR.  I know @SGWilliams is working on updating some of the ta

[2017-10-17 17:28] skybristol commented on #22
We do need a table with any information that is specific to the ranges as opposed to the habitat maps. I'm doing some cleanup on the habitat map items in the [master collection](https://www.sciencebase.gov/catalog/item/527d0a83e4b0850ea0518326) that we will carry over to the range items.

1) I think I've got the situation on NatureServe IDs nailed down now after seeing Steve's explanation and clea

[2017-10-17 17:52] skybristol commented on #16
I took a first crack at defining the identifiers we will have on the GAP species items and others as part of a vocabulary [here](https://www.sciencebase.gov/vocab/bis_identifiers/terms). While ScienceBase is very much a less than optimal solution for vocabularies, it does at least give us a simple reference point and unique, persistent identifiers for terms that we can reference. @SGWilliams, if y

[2017-10-17 18:18] SGWilliams commented on #22
I'm on the verge of updating our SQL tables, some of those fields will be in the HabMap and Range SB item CSVs. Listed here with a brief explanation:

strScientificName (GAP SciName)
strSubSciNameText (GAP SubSciName)
strCommonName (GAP ComName)
intELEMENT_GLOBAL_SEQ_UID (NS Global ID)
strELCODE_BCD (NS Element Code)
strITIScode (TSN)
cbxNSGvalidMatch (checkbox indicating a correct matching of spe

[2017-10-17 19:31] SGWilliams commented on #16
Yes, the cbxITISvalidMismatch "0" are complex and it will take more fields to nail it all down. I just tried to limit the mission creep but we can rework that if it makes sense at this point.  Looks like you're building that into the vocabulary you set up.

I will run through the 59 ITIS "0" and characterize the nature of each type of mismatch. That will help define what fields/definitions we'll n

[2017-10-17 21:01] SGWilliams commented on #16
Here's the breakdown of mismatched GAP-ITIS species' concepts.

**#     Description**
22	ITIS does not recognize a recent genus reassignment. Link is to the valid species with old name.
04	ITIS does not recognize this spp concept. Link is to a valid spp concept that encompasses this spp.
01	ITIS does not recognize this sub-population concept. Link is to the valid species.
27	ITIS does not recogniz

[2017-10-18 16:16] SGWilliams commented on #4
I'm at a point where I need the individual range DOIs. Can someone point me to the code Daniel was using to mint them?

[2017-10-18 16:53] skybristol commented on #4
I'm going to clean up and run the code for minting the DOIs on the range items in ScienceBase as soon as I'm able to dig into it. The code needs a little love as it introduced newline and trailing spaces to the DOIs previously that had to be cleaned up. I ran through a number of steps yesterday to clean up the habitat map items that we'll use as a pattern for the range items. This included contact

[2017-10-18 18:25] SGWilliams commented on #4
I'm about to put out the updated HapMap CSV for SB items and it seems like a good place to put a link to the Range SB item (and vis-versa). Also looking to embed the range DOI link in the HabMap reports.

I also have some updates to the previous list of ITIS/NS codes. Specifically, as I went through characterizing each mismatch I replaced all the invalid TSNs with valid codes figuring the explanat

[2017-10-24 17:26] SGWilliams commented on #22
We now have updated SB item csv files for both HabMaps and Ranges in the code repository pending a pull request I have going. Updates have happened to the following fields in bold italics:

### ScienceBaseHabMapCSV_20171024.csv
GAP_code
_**common_name**_
_**scientific_name**_
start_date
end_date
publication_date
_**citation**_
place_keywords
_**theme_keywords**_
_**editor**_
_**reviewer**_
_**Natu

[2017-10-24 18:18] McKerrow commented on #22
It is my understanding the DOIs are on hold until the records are reviewed and ready for release.

[2017-10-24 20:03] jpmagee commented on #22
Yes all DOIs are on hold pending completion of the data review.  We can't register (turn on) the DOIs until data is approved for release.

So, while the DOIs won't resolve to an actual "final" webpage where the user could access the data they will resolve to a page like the picture below.  This is if they are in the correct format (https://doi.org/10.5066/F7SX6BGR). If they are in the format curre

[2017-10-24 20:38] skybristol commented on #22
In ScienceBase, the DOIs are listed in the items as identifiers, not as links. So, the identifier text string doi:10.5066/F70863ND is a perfectly valid DOI identifier that has been minted as "in process" and will be made live in the DOI registry once the associated item is released. To turn that into a link, you can use a number of HTTP URL root paths, including http://doi.org/ and http://dx.doi.o

[2017-10-24 21:14] jpmagee commented on #22
Just wanted to make clear that I was referring to the link to a DOI that is found in the citation section of the SB items. Not to the actual identifier in the SB item. Perhaps we want to take that link out? In the case of the DOI links in the citation section they are showing up like this https://doi:10.5066/F7MP51PC  If a user tries to use that as a valid link it won't take them anywhere. So do w

[2017-10-25 14:47] skybristol commented on #22
Oh yeah. We better fix that on the citations. I'll take a pass at those the next time I run code to update the habitat map items.

[2017-10-25 16:41] skybristol commented on #22
@SGWilliams, I'm trying to get back to this in order to finish out the Habitat Map items and build the Range items. I'm looking at the latest CSV (https://github.com/usgs-bcb/gap_species/blob/master/ScienceBaseHabMapCSV_20171024.csv). I'm also looking at the JSON documents that @nmtarr generated and attached to the Habitat Map items. A couple things:

* There's no real need to include citation, ab

[2017-10-25 18:46] SGWilliams commented on #22
It was my understanding the items in the CSV were initially developed by Daniel to populate the SB items. The new version is just updating several of the fields and I didn't think there would be an issue to having all the original fields in there as the CSV is simply used to provide content to the upload (now update) script. Can't the update script just pull the fields it needs to update? I can re

[2017-10-26 10:45] skybristol commented on #22
It's fine having extra fields in the CSV. I didn't mean to confuse the issue. I'm just trying to get everything straight on the information we are using to hopefully not miss anything. Thanks for pointing to the writeup on the code definitions. I completely missed that.

I'm closing down this particular issue as I'm at least getting a bit confused. It's fantastic that we have this information all

[2017-10-26 10:45] #22 closed

[2017-10-26 10:47] skybristol commented on #4
Fantastic! This is great. I will put these concepts into the vocabulary that I referenced elsewhere and build a script to tie ITIS TSNs and NatureServe IDs to the appropriate usage on the habitat map items. That should complete the information that we will use as a pattern for generating the range items, and we can proceed with that.

I'm going to close out this issue to help keep the record strai

[2017-10-26 10:47] #4 closed

[2017-10-27 13:40] #10 closed

[2017-10-27 13:46] skybristol commented on #13
We have some of this information coming together in other issues (scattered to hell and gone in the various repos we've been working :-). I'll pull dates and contacts from the CSV generated by @SGWilliams for the range items. We still need the following to establish metadata conventions for the items:

* Title - I think someone suggested "Known range for <scientific name> (<common name>)". Is that

[2017-10-27 14:22] SGWilliams commented on #13
I'll take a shot at this. Seems like I said something to that effect a while back.

Remember, we have scripting to generate the HUC12 csv and dissolved shapefile for each species. Including the addition of text strings to fields to improve user experience. We could have those ready by Monday if need be. That could fill in the data needs while other access methods are developed.

[2017-10-27 14:40] skybristol commented on #13
We already have both the spatial data ("SHUCs") and the attributes (codes, gap variables) online in the GC2 infrastructure. We'll be able to use those to generate initial data access methods and add in other capabilities down the road (e.g., tying in additional species attributes from IUCN, FWS, etc. via the Taxa Information Registry).

Here's a REST API query that returns a given species range da

[2017-10-27 15:27] SGWilliams commented on #13
The script and data examples are [here](https://github.com/usgs-bcb/gap_species/issues/23).

Don't get me wrong - I think we should be pushing into new data dissemination technology. It's just that it took about 2 minutes to render the JSON on my browser and then it locked up entirely when I changed the view format. And I can't stress enough the need to provide a familiar shapefile for the non-tec

[2017-10-27 15:45] skybristol commented on #13
Ah. That's right. I forgot you posted those. I'll take a look.

We may well be down to caching CSV and shapefile on the ScienceBase Items. That will be fine with a versioned product like this. I just want to try and build those dynamically from the online data services we will use for other analytical purposes so we are sure we are always operating off the same version of the data.

[2017-10-27 15:47] SGWilliams commented on #13
Very good.

BTW, the model JSONs are about 1/2 done now. Taking longer than I initially thought.

[2017-10-27 20:21] McKerrow commented on #13
With respect to the ranges - what is the DOI linked to specifically - is it the ScienceBase item, the specific code used to create the spatial dataset for that species, or is it a spatial representation of that range?

[2017-10-27 20:32] SGWilliams commented on #13
How's this for the child range records...

<Agile Kangaroo Rat (Dipodomys agilis)> Range Map

Summary
This data set represents a species known range extent for <Agile Kangaroo Rat>. These range maps are created by attributing sub-watershed polygons with information of a species presence, origin, seasonal and reproductive use.

Purpose
GAP range maps represent a coarse representation of the total a

[2017-10-27 21:13] McKerrow commented on #13
The title looks good.

I would change the second sentence in the purpose

The known range for a species can be used to constraint the boundaries of
the species distribution model and in assessments of the conservation
status and/or threats within the range of a species.

or
These range maps can be ...

Alexa

On Fri, Oct 27, 2017 at 4:32 PM, SGWilliams <notifications@github.com>
wrote:

--
Alexa M

[2017-10-27 21:38] jpmagee commented on #13
Regarding Alexa's question about the DOIs for the ranges -- I was thinking they would be resolving to the ScienceBase items like the DOIs for the individual habitat maps would.

[2017-10-31 11:03] skybristol opened #29 "Range codes needing review"
@SGWilliams and @nmtarr, as I have time, I'm working over some things with how we are storing and serving the species range data. I saw from the examples that @SGWilliams posted for how you all would like to package the data that you added code definitions/terms for the four different attributes on HUCs. I pulled the definitions you are using from the [gapproduction project](https://github.com/nmt

[2017-10-31 13:59] nmtarr commented on #29
@skybristol I corrected the dictionary and suspect that change will eliminate the problems.  Just let me know if it doesn't and I'll keep digging.  See my pull request.  I also corrected the dictionary in gapproduction.dictionaries.

[2017-11-01 09:48] skybristol commented on #23
@SGWilliams, I loaded up CSV files as one option on these to the 1719 species range items in the [collection](https://www.sciencebase.gov/catalog/item/5951527de4b062508e3b1e79). I'll rerun this as needed once we resolve the 0 code issue. Take a look at a few of the files there and let me know if they make sense.

We still have some work to do on the backend infrastructure with the GC2 platform whe

[2017-11-01 10:16] skybristol commented on #13
@jpmagee, @McKerrow, @SGWilliams, @nmtarr, and @aulenbac -

The range items in the [collection](https://www.sciencebase.gov/catalog/item/5951527de4b062508e3b1e79) are coming along and getting fleshed out. @bserna-usgs provided a new python package for minting the DOIs that we just ironed out yesterday, so I'll run that this morning to generate those (resolving to the ScienceBase Items as @jpmagee

[2017-11-01 13:35] SGWilliams commented on #23
Agreed on having both original codes and text for code values in the CSV. I looked at the content of two species (one wide spread with multiple seasons) and found an exact match on data in our local db.

However, some things..

- strHUC12RNG must have been handled as numeric at some point and had a leading zero striped off. This could be fixed afterwards by evaluating the length of the field and c

[2017-11-01 13:56] SGWilliams commented on #13
Great progress!

We have a fix on the 0 code values that I'll post shortly.

I can't think of any other links to include at this point.

NS Reference ID's should have a "2." prefix on all the codes for all the species we have. Why isn't it in there, you may ask? Because NS keeps this as two separate fields and I did not want to concatenate it in nor did I include that field as it was the same for

[2017-11-01 16:35] jpmagee commented on #13
Yes great progress!

Related to Sky's comment above: "I also put web links on the items to the related habitat map items (I'll also go back and crosslink the habitat maps to the ranges) and to the DOI for the "SHUCs". Do you think we need any other links on these items?"

On the crosslink to the related habitat map item -- I am seeing that some of these are pointing to an incorrect habitat map ite

[2017-11-01 20:08] skybristol commented on #29
I think the dictionary/definition of the code values on this should be fine now. For future work on this, I incorporated the code lists into the ScienceBase Vocabulary, that you can hit with an HTTP request to return a JSON structure for working with in code (python or otherwise). For instance, here's the information for Origin codes and values.

https://www.sciencebase.gov/vocab/origin/terms?node

[2017-11-01 20:08] #29 closed

[2017-11-01 20:14] skybristol commented on #23
Damn! I forgot to do the strHUC12RNG range fix here. Thanks for that.

I guess I'll work field ordering into a next iteration.

I'll fix the bad grammar in the purpose, but I think it would be useful to write it as not only the purpose to which we applied the ranges but as a purpose to which others might apply them.

[2017-11-01 20:22] skybristol opened #33 "GAP "staffDict" to ScienceBase Directory"
I noticed another dictionary reference in the [gapproduction code](https://github.com/nmtarr/GAPProduction/blob/master/gapproduction/dictionaries.py) for staffDict containing initials (presumably used in various places in the data) to full names. At some point, it would be nice to tie this together with full person records in the [ScienceBase Directory](https://www.sciencebase.gov/directory/), ano

[2017-11-01 20:31] McKerrow commented on #33
We might need to check on how ScienceBase handles people - I think Julie was saying if a person is in the active directory - then that information gets referenced if a person is mentioned in a record.  If that is the case then I think that means we might want to spend the effort to get the records in that directory as accurate as possible.

[2017-11-01 20:53] nmtarr commented on #33
I threw together the staffDict recently to handle some of the weird and inconsistent names/initials in our databases and we plan on cleaning those and staffDict up when we can get around to overhauling our databases (hopefully very soon).  We can eventually try coding against the Directory when it's polished up too.

[2017-11-01 21:15] jpmagee commented on #33
It might be worth a few minutes for @SGWilliams , @nmtarr , and @mjrubino to see what is in the ScienceBase Directory for them: https://www.sciencebase.gov/directory/
You can do a search under "People" and enter your email address. Some of you may have two entries if if you have a USGS email address in addition to an NCSU one. I know that Mason has two entries because of that. I was able to edit m

[2017-11-01 21:23] nmtarr commented on #33
I just looked at mine.  There's an ntarr@usgs.gov one but not an nmtarr@ncsu.edu one, which is what I actually use to log into ScienceBase.  I logged in but can't find a way to edit the record that is in there.

[2017-11-01 21:50] SGWilliams commented on #33
Only my USGS entity is present and I can edit it. If only I knew what an ORCID is.

We've been talking about setting up vetted editor/modeler/reviewer names within our backend database to clean things us - the unique identifier being initials. I don't think we can relay on SB to be that as we have a number of names that are no longer with the program and never had a presence in the SB Directory.

[2017-11-02 13:26] skybristol commented on #33
Let me clear a few things up...

- This is all part of curating information together into the Biogeographic Information System. The BIS, as it stands today, is the collection technologies that include ScienceBase and a few other components that provide online APIs that we can build data systems against. It is fine to have other databases that are backend, offline, and meet particular purposes, but

[2017-11-03 12:35] skybristol commented on #23
Species range CSV tables have been updated and are uploading now with a fix to the strHUC12RNG code as string with leading 0s added back in along with preferred field ordering. I still need to clean up text and some other attributes, including adding in the IUCN codes to both habitat and range maps that Leah provided.

I'm closing this particular issue out for now. Don Brown at FORT is working on

[2017-11-03 12:35] #23 closed

[2017-11-03 13:30] skybristol commented on #20
This has been mostly put together from @nmtarr's work.

[2017-11-03 13:30] #20 closed

[2017-11-03 13:32] skybristol commented on #16
This has been resolved through the work with @SGWilliams on defining the specified connection of ITIS TSN to GAP species. The vocabulary terms for the IDs on both habitat and range map items are now complete.

[2017-11-03 13:32] #16 closed

[2017-11-03 13:33] skybristol commented on #13
Hmmm. Thanks for catching that. I'll go back and rerun code to build the cross links on both habitat and range maps and take care of that issue.

I'm closing this larger issue now in favor of more discrete issues/tasks.

[2017-11-03 13:33] #13 closed

[2017-11-03 13:35] skybristol opened #34 "Fix crosslinks between habitat and range maps and ensure accuracy"
Julie noted a problem with cross links on the range maps referencing habitat maps for the wrong species. I will blow these away and fix the crosslinks between the related items.

[2017-11-03 13:38] skybristol opened #35 "Fix "ERROR" values in species model reports"
After the latest round of building in the habitat map model report JSON files, I'm still noticing some with "ERROR" values in references.

E.g., https://www.sciencebase.gov/catalog/item/58fa6037e4b0b7ea545256d2

It seems to me that we don't want to release these that way. Can we come up with a fix to whatever is wrong in the data so that we don't write ERROR into the reports? Alternatively, if the

[2017-11-03 13:43] skybristol opened #36 "Fix citation link to DOI in habitat map items and add citation to range items"
The DOI link reference in the habitat map items is not a viable link, and we need to add a citation string to the items in the range maps collection

[2017-11-03 13:46] nmtarr commented on #35
I will look into this.  My first thought is that there will be an easy fix.

[2017-11-03 13:47] skybristol opened #37 "Spot check species range CSV files and verify accuracy"
Someone should spot check a random sample of the CSV files I built out for the species range items.

[2017-11-03 13:52] skybristol opened #38 "Review species range CSV files"
Someone should pull a random sample of [species range items](https://www.sciencebase.gov/catalog/item/5951527de4b062508e3b1e79) and check the accuracy and completeness of the CSV tables I generated on those items. I built these using the 4 source files that @SGWilliams provided, attached to the collection item. I added the values for the codes based on [these four vocabularies](https://www.science

[2017-11-03 13:52] #37 closed

[2017-11-03 14:27] SGWilliams commented on #36
Julie has stated that the links are not active but will be turned on at some point in the release process. The format is correct as far as we can tell.

[2017-11-03 14:32] SGWilliams commented on #35
One of the errors I did find when I ran the script was a Spanish accent on a word in the habitat description field. I "gringo-ed" the spelling and it ran fine afterwards.

[2017-11-03 14:39] skybristol commented on #36
This is about the ScienceBase web links cross linking the habitat maps with the range maps. I put those on the range items but must have done something wrong because she found at least a few of them going to the wrong species habitat map.

You are correct on the DOIs. They are reserved in the system but not currently activated. We'll have to write some code to change those to active as we release

[2017-11-03 14:59] SGWilliams commented on #38
I checked two (Falco sparverius (American Kestral and Alca torda (Razorbill) - they were spot on with data content.

I do see a lowercase genus for "ammadramus savannarum floridanus (Florida Grasshopper Sparrow)". I believe the creation of the child item names were run on an old species list before recent updates. You can find the corrected names in the HabMap SB item CSV file sent earlier. There

[2017-11-03 15:40] nmtarr commented on #36
I'm a little turned around on this issue.  I see the DOI in three places on habitat map items.  @skybristol would you clarify which ones are wrong and what they should be?
1) in the citation they are this format:  https://doi:10.5066/F7319T7C
2) in the json document they are this format: https://doi.org/10.5066/F7319T7C
3) in the identifiers they are this format: doi:10.5066/F7319T7C

[2017-11-03 18:27] McKerrow commented on #38
We are going to get Curtis to do a spot check of the csv files for a random set  with a few examples from each taxa.

[2017-11-03 18:34] skybristol commented on #38
Well, dang. I'll have to run something against the update file across the board to make sure we pick up any changes. There was a lot based on scientific name and common name identifiers once those were set for the items. We'll need to change titles, citations, and other information bits.

@SGWilliams, could you replace the "Habitat Map Species Inventory" CSV file on [this item](https://www.science

[2017-11-03 18:39] skybristol commented on #36
The link string that was put into the citation is the part that was incorrect and generated this issue. I fixed those. The link format you used in the JSON document is just fine. That's what you'll see now in the citation string. The form that is in the identifier is also correct for that placement, which is really the "master" instantiation of the DOI for a given item.

[2017-11-03 18:39] #36 closed

[2017-11-03 18:44] skybristol commented on #34
I took care of this issue, building links on the range and habitat map items. I will need to check and fix link titles on these once we nail down the correct updated master file of GAP species information that @SGWilliams will be posting.

[2017-11-03 18:44] #34 closed

[2017-11-03 18:45] skybristol commented on #38
Great! Thank you @McKerrow for getting Curtis to take a look at the CSVs. Post any issues he finds, and we'll get them taken care of.

[2017-11-03 18:57] skybristol opened #39 "Run consistency checks through all habitat/range map items based on latest output of text file"
After I get the latest and greatest file from the backend GAP database containing recent fixes and changes to names and any other information, I need to build a script that runs through everything again to make sure we have all the correct information onboard both the Habitat Map and the Range Map items. This will also include necessary changes to the DOI registration information for all 3,438 DOI

[2017-11-03 19:03] SGWilliams commented on #38
"Habitat Map Species Inventory" CSV has been replaced with updated file. Here's a description of the table fields. Bold items have been updated. Some fields are new in comparison to Nathan's initial upload. At least one field has changed name. I won't bother describing pre-existing fields.

### ScienceBaseHabMapCSV_20171024.csv
GAP_code
_**common_name**_
_**scientific_name**_
start_date
end_date
p

[2017-11-03 19:45] skybristol commented on #38
Great! Are there any attributes in this file that apply to both the habitat maps and the range maps (e.g., dates, editor, reviewer, etc.)? (I know that the NatureServe, etc. codes all apply.)

[2017-11-03 19:49] skybristol opened #41 "Habitat Map geospatial service metadata should point back at ScienceBase items"
Note: We will be capturing a few specific issues here related to the setup and configuration of the Geoserver for the habitat maps. This work is being done by the team in Fort Collins, and they will jump in here with comments.

People will encounter the habitat map services (range map services as well) directly through the services provided by the Geoserver. We need to make sure there are links on

[2017-11-03 20:12] nmtarr commented on #33
@skybristol I'm happy to fill out an entry in the directory, but I need someone to add my under nmtarr@ncsu.edu since that's my username for ScienceBase.

I think we can find a way to rely on information in SB as the premier source for some things as you described.  We will keep this in mind as we overhaul our backend database.

[2017-11-03 20:16] nmtarr commented on #35
I've been looking into these errors and there's a string encoding issue that's especially problematic with apostrophes.   I could do a quick, dirty fix and drop offending characters, but I'm going to continue working on a real solution on Monday.   I found some simple approaches for these situations online but none of them have actually worked for me.

[2017-11-03 20:22] skybristol commented on #39
@SGWilliams posted the file to the habitat map root collection, and I'm building out the evaluation and consistency checker process now to correct any issues.

Here are a few notes on the attributes for clarity:

* GAP_code - Goes in as GAP_SpeciesCode to the identifiers as a key used throughout processing
* common_name - Goes in as CommonName to the identifiers and is now used as the first part o

[2017-11-03 20:24] skybristol commented on #38
Let's take the conversation on the item metadata out to #39 where I just posted a comment with specific reasoning on how I am treating the information in the spreadsheet. This issue can still be used to track comments on the review of the range data CSV files attached to the Range Map items.

[2017-11-03 20:31] SGWilliams commented on #33
This sounds like a good approach. I think the first step will be to pull all the unique names from our local DBs and begin to match them to existing SB directory records.

Here are the 14 vetted folks in our local dBs:
Adam Radel
Amy Silvano
Jeff Lonneker
Jocelyn Aycrigg
Kacy Cook
Ken Boykin
Mason, Bruce & Girard, Inc.
Matthew Rubino
Nathan Tarr
Rob Adair
Robert Adair
Stacy Smith
Steven Williams
T

[2017-11-06 15:02] #39 closed

[2017-11-06 15:09] skybristol opened #43 "Ensure consistency for Habitat Map and Range Map DOI metadata"
With recent tweaks in the Habitat Map and Range Map items in ScienceBase, we need a script that will check through all of the DOIs reserved for those items to make sure the citation metadata lines up with the ScienceBase Item metadata. I'll write that using Brandon's usgs-datatools package that is still having some kinks ironed out.

[2017-11-06 16:45] jpmagee commented on #38
@skybristol   Can I put (In Review) back in the title of this item https://www.sciencebase.gov/catalog/item/527d0a83e4b0850ea0518326  ? Just so we can easily distinguish it from the other item of the same name that is our public facing item that we are not putting new data into at this point.

[2017-11-06 18:57] skybristol commented on #38
According to the audit history on the collection item, @SGWilliams changed the title.

"Fri Nov 03 12:46:04 MDT 2017 by sgwilliams@usgs.gov"

It's not that big a deal at this point, but @jpmagee, you and @McKerrow are really the owners of the collection level items for both Habitat Maps and Range Maps and should be the ones to handle those kinds of changes as we move forward toward review and beyo

[2017-11-06 18:58] skybristol commented on #38
FYI - for authenticated users with write rights on the item, the audit log I referenced is available here:

https://www.sciencebase.gov/catalog/item/audit/527d0a83e4b0850ea0518326

[2017-11-06 21:04] nmtarr commented on #35
I haven't been able to fully overcome this decoding issue, but I changed the code so that the "ERRORS" don't show up any more and instead include the offending citations' text.  Unfortunately, the text is unicode with "\u2019" in place of apostrophes; although the apostrophes show up if the text is printed.  I'm at a loss for what to do to fix this issue (or about unicode in general) but I went ah

[2017-11-06 22:25] jpmagee commented on #33
@SGWilliams , @nmtarr, @mjrubino  - you all have records in the directory using a USGS.gov email and Sky has included the initials for you under the alias section of those records. Nate and Matt also have NCSU.edu records that I could see. So I guess the question is - which records do you want to use?

I did a quick search and found that the following people in the list below have records. @SGWill

[2017-11-06 23:19] SGWilliams commented on #33
An update to the data. I searched for ORCID records on all names. Not sure if Stacy N. Smith is the one we worked with - best to assume not. As far as what email/account? I'd go with all the USGS ones - as long as we can associate our NCSU email with that record somehow - we're not hyper-vigilant with our USGS email.

Initials | Name | ORCID | SB Directory
-- | -- | -- | --
AR | Adam Radel |   | 1

[2017-11-07 10:37] skybristol commented on #33
Thanks for pulling together some additional detail on all this. Unfortunately, there's not a perfect solution, but I want to try and make use of the ScienceBase Directory as long as we can for this aspect of the Biogeographic Information System. For those folks with usgs.gov credentials, your usgs.gov address and contact information is going to be pulled automatically into the ScienceBase Director

[2017-11-07 13:14] nmtarr commented on #33
I'm not sure I'm following all of this, but I want to pipe in to say that I interact with ScienceBase through my ncsu.edu email address because I'm able to easily manage that account (i.e., change passwords from anywhere).  I rarely use my usgs.gov account and even logging in consistently presents challenges.  At present, I can only get into it with my card.  So, if possible, I'd prefer to keep my

[2017-11-07 14:15] SGWilliams commented on #33
Since the USGS VPN locked us out last year, we've had little use for our USGS accounts and they've seen little action. Even so, I've been able to maintain my USGS account simply by logging in to get my email every week or two. That gives me enough heads up about a pending password update - which is easy to do if you haven't been locked out. Once you're locked out, the level of effort to reset dram

[2017-11-08 19:29] cbelyea commented on #38
We looked at 23 random species (5  from each taxa plus another 3 wide ranging). We compared data in the downloaded csv files to data extracted from the local database by joining strUC and strHUC12RANGE. For all 23 species, records matched exactly in terms of number of records and contents across all similar fields.

strUC | ComName | SciName
-- | -- | --
aRBNEx | Red-bellied Newt | Taricha rivular

[2017-11-09 14:11] SGWilliams commented on #38
I finally had a chance to go back and look at what I did to edit the title of the collection record - which I certainly didn't intend to do. The only thing I can surmise is when I replaced the “Metadata Source: Habitat Maps” csv table it asked me about updating associated metadata records - and I assumed that it only pertained to this one file and said yes. Evidently, it pushes it out to the colle

[2017-11-09 18:10] skybristol commented on #35
@nmtarr, I've looked through a number of the reports. I think they are fine at this point. There are a number of other encoding nuances in the longer habitat description write-ups as well. I think we can deal with those down the road. The important thing is getting the information out there at this point, and what you have there now does that just fine. Thanks for getting these all working.

[2017-11-09 18:10] #35 closed

[2017-11-09 19:14] skybristol commented on #38
Thank you, @cbelyea, for the spot check. I'm glad to see that the data all line up. I do have to rerun part of the process to take care of the couple of birds with issues identified previously, but then we should be good to go on the CSV end of this. @McKerrow will provide some guidance on the shapefiles, which we'll also want to run a check on, but I'll close this issue out for now.

[2017-11-09 19:14] #38 closed

[2017-11-09 21:10] skybristol commented on #43
This is turning out to be a major pain. There's a weird setup with the USGS DOI Tool where the more DOIs a user has access to the longer it takes to do anything in the system. With all the DOIs we are now managing through code, the process to update everything could take several days to run (believe it or not). So, I will not run this until we are pretty much ready to go with the release - probabl

[2017-11-10 18:08] SGWilliams opened #47 "Attached file name format"
To help track/organize future iterations of species data output we developed a file name format that encompasses the species, extent, year, version and item (e.g. bCOHAx_CONUS_2001v1_HabMap). I've been generating content based on that nomenclature (habitat model report PDFs, habitat map PNGs, Dissolved range shapefiles) but I'm starting to see other attached files that lack the same construct.

I

[2017-11-13 15:45] McKerrow commented on #47
If this is going to take a lot of work - I would propose that we implement it as a part of the final revisions to the items, metadata, etc after the review.

[2017-11-14 17:10] nmtarr commented on #47
I agree that it is helpful to have the year and version number in the file name, but having the year and version number at the end of the name makes the most sense to me.  That is how the habitat map geotiffs are named.  I'm not sure one way or the other really matters though.

[2017-11-14 17:30] McKerrow commented on #47
Can we decide and implement after the review.  I don't think the reviewers
should care too much about that level of detail.  Also should it be names
in an order that allows a specific sorting over another.

Alexa

On Tue, Nov 14, 2017 at 12:10 PM, Nathan Tarr <notifications@github.com>
wrote:

--
Alexa McKerrow
USGS Core Science Analytics, Synthesis & Libraries
(571) 218-5474

[2017-11-18 15:42] SGWilliams commented on #47
In hindsight, Nathan is correct - we did swap the order of those name components to put YearVer# on the tail-end. I've revised my HabMap Report PDF filenames and have them uploaded to the SB items.

[2017-11-18 15:47] SGWilliams commented on #47
Question - is it possible to use pysb.SbSession.upload_file_to_item to set the title of an uploaded item? Having "Habitat Map Species Report" sitting as an explanation for aABSAx_CONUS_SppRpt_2001v1.pdf would go a long way to lead people to actually open the file when on the SB item page. Too much well thought out informative information in there to go to waste.

[2017-12-08 19:40] SGWilliams commented on #47
Filename format has been finalized as:
<GapComName> (<GapSciName>) <GapSppCode>_CONUS_2001v1 <ItemName>

Jacob Juszak also provide code to update attached file titles.

[2017-12-08 19:40] #47 closed